<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ldapConfigurationSection">
      <section name="ldapConfiguration" type="hbehr.AdAuthentication.Standard.LdapConfigurationSection, hbehr.AdAuthentication.Standard" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <ldapConfigurationSection>
    <ldapConfiguration host="localhost" port="10389" user="uid=admin,ou=system" userPassword="secret" path="DC=example,DC=com">
    </ldapConfiguration>
  </ldapConfigurationSection>
</configuration>